.suite, .replier {
  cursor: pointer;
  font-style:italic;
  font-weight: bold;
  clear:both;
  display:block;
  float:right;
}
.field-uitemplates-title {
  float:left;
  clear:left;
  display: block;
}
.field-uitemplates-title::after {
  content:' : ';
  padding-right: 3px;
}
.bold {
  font-weight:bold;
}
.retour {
  clear:both;float:left;
}
.uit-field, .fieldcontentshort, .fieldcontentcomplet {
  margin-bottom: 1em;
  display:block;
  padding-left: 2px;
}
li .uit-field {
  padding: 0;
  margin: 0;
}
.uit-field-wrapper {
  display:block;
  overflow: auto;
}
.uit-list,
.uit-list li,
.uit-field-wrapper {
  clear:both;
}

.field-uitemplates {
  clear:both;
  display: block;
  overflow: auto;
}

.block-uitemplates {
  overflow:visible;
}
.transcripted img {
  border: 1px solid #ac2f2f;
  border-radius: 5px;
}
#primary #plugin_files {
/*   padding:0 !important; */
}