.suite, .replier {
  cursor: pointer;
  font-style:italic;
  font-weight: bold;
  clear:both;
  display:block;
  float:right;
}
.field-uitemplates-title {
  float:left;
  clear:left;
  display: block;
}
.field-uitemplates-title::after {
  content:' : ';
  padding-right: 3px;
}
.bold {
  font-weight:bold;
}
.retour {
  clear:both;float:left;
}
.uit-field, .fieldcontentshort, .fieldcontentcomplet {
  margin-bottom: 1em;
  display:block;
  padding-left: 2px;
}
li .uit-field {
  padding: 0;
  margin: 0;
}
.uit-field-wrapper {
  display:block;
  overflow: auto;
}
.uit-list,
.uit-list li,
.uit-field-wrapper {
  clear:both;
}

.field-uitemplates {
  clear:both;
  display: block;
  overflow: auto;
}

.block-uitemplates {
  overflow:visible;
}
.transcripted img {
  border: 1px solid #ac2f2f;
  border-radius: 5px;
}
#overlay {
 	display:none;
	width:99.9%;
 	position:absolute;
	top:0;
	left:0;
	background:#eee;
	z-index:10000000;
	border:#111 1px solid;
}
#overlay-close {
	position:absolute;
	right:10px;
	bottom:10px;
}
#left, #right {
	position:relative;
	width:49.5%;
	border:#222 1px solid;
	top:10px;
	overflow:visible;
	display:block;
	margin-bottom:50px;
}
#left {
	margin-left:5px;
	clear:left;
	float:left;
}
#right {
	right:5px;
	clear:both;
	clear:right;
	float:right;
}
#left img {
	width:100%;
}
#plugin_transcript iframe {
	width:100%;
	clear:both;
	overflow:visible;
	display:none;
}